<header>
  <mat-toolbar color="primary">
    <a [routerLink]="['/']" class="logo"></a>
    <button *ngIf="user && user.isVerified" mat-raised-button color="primary" onclick="alert('Implement redirect here');"> Verified Area </button>
    <span class="example-spacer"></span>
    <a class="links side" *ngIf="!user" (click)="openLoginDialog()" i18n="@@loginDirective"> Login </a>
    <div>
      <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
        <mat-icon *ngIf="user.isAdmin">face</mat-icon>
        <mat-icon *ngIf="!user.isAdmin && user.isTrusted">account_circle</mat-icon>
        <mat-icon *ngIf="!user.isAdmin && !user.isTrusted && user.isVerified">account_box</mat-icon>
        <mat-icon *ngIf="!user.isAdmin && !user.isTrusted && !user.isVerified">assignment_ind</mat-icon>
        {{user.username}}
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="['/admin']" i18n="Admin page header|Menu entry that navigates to the Admin page"> Administration </button>
        <button mat-menu-item (click)="logout(logoutMsg.msg)" i18n="@@logoutDirective"> Logout </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>

<app-snackbar-message #logoutMsg msg="Logging out" i18n-msg="log-out message"></app-snackbar-message>
