<h1 mat-dialog-title i18n="Login Dialog|Dialog header for login"> Login </h1>
<div mat-dialog-content>
  <form class="example-form">
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <input matInput i18n-placeholder="Login Form|Email placeholder" placeholder="Email" [(ngModel)]="email" name="email" required
              (keyup.enter)="login(loginSuccess.msg, loginDenied.msg)">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput i18n-placeholder="Login Form|Password placeholder" placeholder="Password" [(ngModel)]="password" type="password" name="password" required
              (keyup.enter)="login(loginSuccess.msg, loginDenied.msg)">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="login(loginSuccess.msg, loginDenied.msg)" color="primary" cdkFocusInitial i18n="@@loginDirective"> Login </button>
  <button mat-button routerLink="/auth/register" [mat-dialog-close] i18n="Login Dialog|Button prompt for registering new account"> New here? Register! </button>
</div>

<app-snackbar-message #loginSuccess msg="Login successful, Welcome!" i18n-msg="Welcoming message after successful login"></app-snackbar-message>
<app-snackbar-message #loginDenied msg="Login failed" i18n-msg="Login not successful message prompt"></app-snackbar-message>
