<h1 mat-dialog-title i18n="Login Dialog|Dialog header for login"> Login </h1>
<div mat-dialog-content>
  <form class="example-form">
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <input matInput i18n-placeholder="Login Form|Email placeholder" placeholder="Email" [(ngModel)]="email" name="email" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput i18n-placeholder="Login Form|Password placeholder" placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="login()" color="primary" cdkFocusInitial i18n="@@loginDirective"> Login </button>
  <button mat-button routerLink="/auth/register" [mat-dialog-close] i18n="Login Dialog|Button prompt for registering new account"> New here? Register! </button>
</div>
