NODE_ENV=development
SERVER_PORT=4040
JWT_SECRET=0a6b944d-d2fb-46fc-a85e-0295c986cd9f
MONGO_HOST=mongodb://localhost/mean
SYS_ACC_ADMIN_PW=admin
SYS_ACC_TEST_PW=test
MAIL_SERVICE=gmail
MAIL_AUTH_USER=youremail@gmail.com
MAIL_AUTH_PASS=yourpassword