<mat-list class="user-list">
  <ng-container *ngFor="let u of users">
    <mat-list-item>
      <mat-icon mat-list-icon *ngIf="u.roles.indexOf('admin') > -1">face</mat-icon>
      <mat-icon mat-list-icon *ngIf="u.roles.indexOf('admin') < 0 && u.roles.indexOf('trusted') > -1">account_circle</mat-icon>
      <mat-icon mat-list-icon *ngIf="u.roles.indexOf('admin') < 0 && u.roles.indexOf('trusted') < 0 && u.roles.indexOf('verified') > -1">account_box</mat-icon>
      <mat-icon mat-list-icon *ngIf="u.roles.indexOf('admin') < 0 && u.roles.indexOf('trusted') < 0 && u.roles.indexOf('verified') < 0">assignment_ind</mat-icon>
      <h4 mat-line>{{u.username}} ({{u.email}})</h4>
      <p mat-line> {{u.createdAt}} </p>

      <mat-checkbox [checked]="u.roles.indexOf('verified') > -1" (change)="toggleRole(u.email, 'verified', $event.checked)"
        [disabled]="true" i18n-matTooltip matTooltip="Verification may only be done via email-link" matTooltipShowDelay="300"> Verified </mat-checkbox>
      <mat-checkbox [checked]="u.roles.indexOf('trusted') > -1" (change)="toggleRole(u.email, 'trusted', $event.checked)"> Trusted </mat-checkbox>
      <mat-checkbox [checked]="u.roles.indexOf('admin') > -1" (change)="toggleRole(u.email, 'admin', $event.checked)"> Admin </mat-checkbox>
      <ng-container *ngIf="u.roles.indexOf('system') < 0; then deleteButton else disabledDeleteButton"></ng-container>
      <ng-template #deleteButton>
          <button mat-raised-button color="warn" (click)="promptDelete(u.email)"
          i18n="Caption of button to delete user account"> Delete </button>
      </ng-template>
      <ng-template #disabledDeleteButton>
        <button mat-raised-button color="warn" (click)="promptDelete(u.email)"
          disabled i18n-matTooltip="tooltop|Prompting that system accounts cannot be deleted" matTooltip="Cannot delete system-accounts"
          i18n="Caption of button to delete user account"> Delete </button>        
      </ng-template>
      
      
    </mat-list-item>
  </ng-container>
