.register-card {
  width: 20em;
  margin: 10% auto;
  text-align: center;
}

.mat-card-title {
  font-size: 16px;
  font-weight: bold;
}

div.registrationForm {
  display: flex;
  flex-direction: column;
}
div.registrationForm> * {
  width: 100%;
}