<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-label-icon">recent_actors</mat-icon>
      <ng-container i18n="Admin panel|User management tab heading"> User Management </ng-container>
    </ng-template>
    <app-user-mgmt></app-user-mgmt>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-label-icon">bar_chart</mat-icon>
      <ng-container i18n="Admin panel|Statistics tab heading"> Statistics </ng-container>
    </ng-template>
    <!-- TODO -->
    Soon to be added ...
  </mat-tab>
</mat-tab-group>