/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';

$custom-typography: mat-typography-config(
    $font-family: 'Exo'
);

@include mat-core($custom-typography);

body {
  background-color: #f4f3f3;
  margin: 0;
  app-root * {
    font-family: 'Exo', sans-serif;
  }
}

.mat-button-wrapper {
  margin-left: -.25em;
}

.custom-snackbar-warning {
  // background-color: goldenrod;
  // color: grey;
  button {
    background-color: #f44336;
    color: white;
  }
}
.custom-snackbar-error {
  background-color: #f44336;
  color: white;
}